/* Media Queries */
/* Media Queries */
@media screen and (max-width: 1200px) {
  #desktop-nav {
      display: none;
  }

  #hamburger-nav {
      display: flex;
  }

  #profile, .section-container {
      display: block;
  }

  section {
      margin: 0 5%;
  }

  .profile-pic {
      height: 300px;
      width: 300px;
      margin: 0 auto;
  }

  .about-containers {
      flex-wrap: wrap;
  }

  .project-details-container {
      flex-direction: column;
  }
}


@media screen and (max-width: 600px) {
  #contact, footer {
      height: auto;
      padding: 2rem 1rem;
  }

  #profile {
      height: auto;
      margin-bottom: 1rem; 
  }

  .profile-pic {
      margin: 0 auto;
  }

  .project-details-container {
      grid-template-columns: 1fr;
  }

  footer nav {
      height: fit-content;
      margin-bottom: 2rem;
  }

  .about-containers, .contact-info-upper-container, .btn-container {
      flex-wrap: wrap;
  }

  .contact-info-container {
      margin: 0;
  }

  .contact-info-container p, .nav-links li a {
      font-size: 1rem;
  }

  .experience-sub-title {
      font-size: 1.25rem;
  }

  .logo {
      font-size: 1.5rem;
  }

  .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
  }

  .footer-container {
      flex-direction: column;
  }

  .footer-text {
      margin-bottom: 1rem;
  }

  .title {
      margin-top: 2rem; 
  }
}
