@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* Variables */
:root {
    --font-family: "Poppins", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #1d2b5a;
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --secondary-text: #d4d3d3;
    --hover-color: #5a7ffb;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-image: url("/assets/back-pattern.jpg");
    background-size:cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
  }

/* Desktop Nav */
nav, .nav-links {
    display: flex;
  }
  
  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background: scroll;
    background-color: rgba(9, 17, 45, 0.5);
    backdrop-filter: blur(5px);
  }
  
  .nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-weight: var(--bolder-font);
  }
  
  a{
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--hover-color);
    text-decoration: underline;
    text-underline-offset: 1rem;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: var(--bolder-font);
    color: var(--primary-color)
  }
  
  

/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
  }
  
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links li {
    list-style: none;
  }
  
  .menu-links.open {
    max-height: 300px;
  }
  
  
  .hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2){
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child{
    transform: none;
  }
  
  .hamburger-icon span:first-child{
    opacity: 1;
  }
  
  .hamburger-icon span:first-child{
    transform: none;
  }

  /* SECTIONS */

section {
  padding-top: 10vh;
  min-height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  margin-bottom: 4rem;
  
}

.section-container {
  display:flex;
}

/* PROFILE SECTIONS */

#profile {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 80vh;
}

.profile-pic {
  display: flex;
  height: 500px;
  width: 500px;
  margin: auto 0;
  border-radius: 10rem;
}

.profile-pic img{
  border-radius: 15rem;
}

.profile-text {
  align-self: center;
  text-align: center;
  font-weight: bolder;
}


.section__text p {
  font-weight: 600;
}

.profile-text-1 {
  text-align: center;
  font-size: 1.25rem;
  color: var(--secondary-text)
}

.profile-text-2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color:var(--secondary-text)
}

.profile-text-title {
  font-size: 4rem;
  color: var(--primary-color);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

/* BUTTONS */

.profile-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 8rem;
  border-radius: 2rem;
}


.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--hover-color);
  color: white;
}

.btn-color-1:hover{
  background: var(--bg-color);
}

.btn-color-2:hover{
  background: var(--bg-color);
}

.btn-color-2{
  background: var(--primary-color);
}

.profile-buttons{
  gap: 1rem;
}

/* ABOUT SECTIONS */
#about {
  position: relative;
}

.title {
  color: var(--primary-color);
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  padding-top: 0.7rem;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers, .about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}


.details-container {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.text-container {
color: var(--primary-color);
}

.skills-container {
  text-align: center;
  padding: 1rem;
  flex: 1;
  color: var(--primary-color);
  font-size: 2rem;
}

.logos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.skill-icon-container {
  background: var(--primary-color); 
  padding: 1rem;
  border-radius: 1rem; 
}

.skill-icon {
  width: 75px; 
  height: 75px; 
  display: block; 
  margin: auto; 
}

/* Projects Section */
#projects {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.project-details-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.details-container {
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.project-img {
  width: 70%;
  height: auto;
  border-radius: 8px;
}


.project-sub-title {
  color: rgb(85, 85, 85);
  font-weight:  600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.project-btn {
  color: black;
}

.contact {
  margin-top: 2rem;
  color: var(--primary-color);
}


.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--bg-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 2px outset var(--bg-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--bg-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--bg-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.footer-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.footer-text {
  color: var(--primary-color);
  text-align: center;
}
